* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(212, 212, 212);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    perspective: 500px;
}

article {
    width: 300px;
    height: 450px;
    position: relative;
    animation: spin 4s infinite;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    .front,
    .back {
        border-radius: 8px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        position: absolute;
    }
        
    .front {
        background: linear-gradient(
            to bottom right, 
            rgb(52, 167, 233) 10%, 
            rgb(57, 207, 212) 90%);
        z-index: 2;
    }

    .back {
        background: radial-gradient(
                    at center center,
                    rgb(63, 252, 142), 
                    rgb(112, 255, 83) 40% 50%,
                    rgb(33, 235, 77));
        transform: rotateY(180deg);
        z-index: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotateY(0deg) scale(1);
    }
    15% {
        transform: rotateY(0deg) scale(1.2);
    }
    85% {
        transform: rotateY(360deg) scale(1.2);
    }
    100% {
        transform: rotateY(360deg) scale(1);
    }
}